@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');


*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	
	
	

}

html {
  scroll-behavior: smooth;
}

body{

	background: rgb(10, 10, 10);
/* background: linear-gradient(113deg, rgba(134,198,212,1) 18%, rgba(69,124,249,1) 100%); */
/* height: 100vh ; */
}

header{
	background-image:url("./back2.png") ;
	
	height: 700px;
	/* width: 100vw; */
	/*min-height: 50px;*/
	background-size: cover;
	
}

.section2{
	background-image:url("./back3.png") ;
	height: 700px;
    /* width: 100vw ; */
    background-size: cover;
	/*min-height: 50px;*/
}


.information{
	/*position: relative;*/
	display: flex;
	justify-content: space-between;
	padding-top: 120px;

}

.leftinfo{

	margin-left: 32px ;
}

.information .leftinfo .hello{

	color: rgb(244,190,115) ;
	font-weight: bold;
	font-size: 25px;
	letter-spacing: 2px;
	font-family: 'Montserrat', sans-serif;
}

.information .leftinfo .name{

	font-family: 'Playfair Display', serif;
	color: white ;
	font-size: 70px ;
	margin-top: -30px;
	letter-spacing: 2px;
	padding-top: 0px;
	font-weight: bold;
}

.information .leftinfo .lastname{

	font-family: 'Playfair Display', serif;
	color: white ;
	font-size: 55px ;
	margin-top: -35px;
	letter-spacing: 2px;
	padding-top: 0px;
	font-weight: bold;
}

.information .leftinfo .btech{

	color: rgb(165,166,175);
	font-weight: bold;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	margin-top: -20px ;

}

.logo img{

	height: 35px ;
	width: 35px ;
	padding-bottom: 4px;

}

.logo p{

	margin-left: -10px;
	display: inline-flex;
	padding : 20px 20px;
	color: white;
	font-weight: 5px;
	font-size: 19px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.hacker img{

	height: auto ;
	width: 450px;
	margin: auto;
	padding-top: 74px ;
	/*padding-left: 10px;*/
	/*position: absolute;*/
	/*margin-bottom: 100px;*/
/*	top: 75px ;
	left: : 20%;
	transform: translate(20%);*/
}



.headbar{

	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	
}

.Nav{

	display: flex;
	margin-right: 50px ;
	font-family: 'Roboto', sans-serif;

}

.Nav li{

	padding : 20px 20px;
}

.Nav li a{
	color: white ;

}

.Nav li a:hover{
	color: rgb(244,190,115) ;

}

li{
	text-transform: uppercase;
	color: black ;
	/*font-weight: bold;*/
	font-size: 15px;
	text-decoration: none;
	list-style: none;
}

li:hover{

	font-size: 13px ;
	text-decoration: none;
	
}

/*=======================SECTION 2=============================================*/

.Aboutcontent{

	background : rgb(30,25,25) ;
	padding: 20px ;
	box-shadow: 7px 7px 20px -2px rgba(3,3,3,1);

}

.techstack{


	background : rgb(30,25,25) ;
	padding: 28px ;
	box-shadow: 7px 7px 20px -2px rgba(3,3,3,1);

}

.techstack p{

	display: flex;
	justify-content: center;

}

.techinfo{

	margin-top: 50px ;
	margin-left: 10px ;
}

.techicon{

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.techicon img{

	filter: grayscale(100%);
	margin-top: 30px ;
	margin-left: 20px ;

}


.techicon img:hover{

	filter: grayscale(0%);
}

.sec2 p{

	color: rgb(244,190,115) ;
	/*font-weight: bold;*/
	font-size: 25px;
	letter-spacing: 2px;
	font-family: 'Montserrat', sans-serif;
	
}

.sec2{

	padding-top: 120px ;


}


/*======================================================SECTION 3===================================================================================*/

.section3{

	background-color: rgb(30,25,25);
	height: 750px ;
	/* width: 100vw; */

}

.sec3{

	padding-top: 80px ;
}



.projecttitile{

	color: rgb(244,190,115) ;
	/*font-weight: bold;*/
	font-size: 25px;
	letter-spacing: 2px;
	font-family: 'Montserrat', sans-serif;

}

.projecttitile p{

	display: flex;
	justify-content: center;
}

.projectselect{

	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	/*margin-right: 50px ;*/
	font-family: 'Playfair Display', serif;
	/*font-weight: bold;*/
	margin-top: 50px ;
	
}

.projectselect li{

	font-size: 25px ;
	color: rgb(165,166,175);
	text-shadow: 7px 7px 20px  rgba(3,3,3,1);
	cursor: pointer;
}

.projectselect li a{

	text-decoration: none;
}

.projectselect li:link{

	color: white ;
}

.projectselect li:hover{

	color: white ;
}

.projectselect li:active{

	color: white ;
}



#projectimage{

	object-fit: contain;
	height: 400px ;
	width: 280px ;
	border-radius: 25px ;
	margin-top: 40px;
}

/*.frame{

	
	display: flex;
	justify-content: center;
	align-items: center;
	
}*/

/*.card{

	margin: 10px;

	display: grid;
	grid-template-columns: 300px;
	grid-template-rows: 500px , 210px 100px;
	grid-template-areas: "image" "text" "Linktext" ;

	border-radius: 18px ;
	background: white ;
	box-shadow: 5px 5px 15px black ;
	text-align: center;
}*/



/*.cimage{
	grid-area: image ;
	height: 150px;
	background: url("flutter.png");
	background-size: contain;
	
	background-repeat: no-repeat;
	border-top-left-radius: 15px ;
	border-top-right-radius: 15px ;

}*/

/*.ctext{
	/*grid-area: text ;*/
	/*margin: 25px ;*/
	/*object-fit: contain;*/
	
*/

/*.linktext{

	grid-area: Linktext ;
	background: rgb(201,26,50);
	border-bottom-left-radius: 15px ;
	border-bottom-right-radius: 15px ;
	
	height: 40px;
	cursor: pointer;
	


}*/

h4{
	grid-area: text ;
	color: white;
	padding-top: 10px
}

.projectdiscription{

	display: flex;
	justify-content: space-between;
}

.projectdiscription p{

	margin-top: 46px ;
	color: white ;
}

.discriptionproject{

	padding-left: 15px;
}

.developer {

	font-size: 50px;
	color: white;
	display: flex;
	justify-content: center;

}

.info{
	margin-top: 30px;
	height: 50vh ;
	justify-content: center;
}

.aboutinfo .discription{

	color: rgb(165,166,175);
	/*font-weight: bold;*/
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
}

/*.download{
	display: flex;
	justify-content: center;
	border-radius: 20px;

}*/

.desktopbutton{

	border-radius: 3px ;
	border-color: rgb(244,190,115) ;
	background-color: transparent;
	height: 36px;
	width: 120px;
	color: rgb(244,190,115);
	margin-top: 11px;
	/*font-weight: bold;*/
	cursor: pointer;
	font-family: 'Roboto', sans-serif;


}

.connect{

	padding-bottom: 40px;
}

.mobile img{

	display: none;
}

.mobile{
	display: flex;
}

.mobilebutton{
	display: none;
}

.contactSection{

	display: flex ;
	justify-content: center;
	padding: 15px;
	
}
/*sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss*/

.contactSection img{

	height: 30px;
	padding-left: 25px;
	cursor: pointer;
	filter: grayscale(100%);
}

.contactSection img:hover{

	filter: grayscale(0%);	
}

.contactSection p{

	padding-left: 25px;
}



/*@media only screen and (  max-height: 550px ){
.hacker img{

  	display: none;
  }

}*/

@media only screen and (  max-width: 800px ) {

	.projectdiscription p{

		display: none;
	}
  
 .hacker img{

  	display: none;
  }

  .Nav{

  	
  	display: none;
  	overflow: visible;
  	position: absolute;
  	right: -10px;
  	transition: right 4s ;
  	

  }

  .mobilebutton{

  	display: block;
  	border-radius: 3px ;
	border-color: rgb(244,190,115) ;
	background-color: transparent;
	height: 36px;
	width: 120px;
	color: rgb(244,190,115);
	margin-top: 11px;
	/*font-weight: bold;*/
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
  }

  .mobile img{

  	height: 26px ;
  	width: 26px ;
  	display: block;
  	margin-top: 17px ;
  	margin-left: 12px ;
  }

  .desktopbutton{

  	display: none;
  }

  .sec2{

	padding-top: 20px ;


}

.techstack{

    background : none
	
}

.techinfo{

	margin-top: 15px ;
	margin-left: 10px ;
}

.techicon img{


	margin-top: 10px ;
	margin-left: 15px ;
	/*filter: grayscale(0%);*/

}

.projectselect{

	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	/*margin-right: 50px ;*/
	font-family: 'Playfair Display', serif;
	/*font-weight: bold;*/
	margin-top: 10px ;
	
}

.sec3{

	padding-top: 20px ;
}

.projectselect li{

	font-size: 15px ;
}

#projectimage{

	object-fit: contain;
	height: 400px ;
	width: 280px ;
	border-radius: 25px ;
	margin-top: 40px;
	margin-left: 10px ;
}




}


/*@media only screen and (min-width: 800px){


.techinfo{

	margin-top: 40px ;
	margin-left: 10px ;
}

.sec2{

	padding-top: 60px ;


}

}*/